<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Movies</title>
</head>
<body>
	<h1>Add movie</h1>
	<div>
		<form th:object="${movie}" th:action="@{save}" action="#" method="post">
			<label for="name">Nimi</label> 
			<input type="text" id="name" th:field="*{name}" /> 
			
			<label for="release">Julkaisuvuosi</label> 
			<input type="text" id="release" th:field="*{release}" />
			
			<div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="genres">Genre</label>
			 <select id="genres" th:field="*{genre}">
       			<option th:each="genre: ${genres}" th:value="${genre.genreid}" th:text="${genre.name}"></option>
    		</select>
			
			<label for="rating">Arviointi (1-5)</label> 
			<input type="text" id="rating" th:field="*{rating}" />
			
			<input type="submit" value="Save"></input>
		</form>
	</div>

</body>
</html>