<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<head>
<meta charset="ISO-8859-1">
<title>Movies</title>
</head>
<style th:inline="text">
body {
	background: lightblue no-repeat center center fixed;
}
</style>
<body>
	<div class="topnav">
		
		 <a href="/addmovie" type="button">Log in</a>
	</div>

	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Nimi</th>
				<th>Julkaisuvuosi</th>
				<th>Genre</th>
				<th>Arviointi</th>
			</tr>
			<tr th:each="movie : ${movies}">
				<td th:text="${movie.name}">Nimi</td>
				<td th:text="${movie.release}">Julkaisuvuosi</td>
				<td th:text="${movie.genre}">Genre</td>
				<td th:text="${movie.rating}">Arviointi</td>
				<td><a th:href="@{/edit/{id}(id=${movie.id})}"
					class="btn btn-info">Edit</a></td>
				<td><a th:href="@{/delete/{id}(id=${movie.id})}"
					class="btn btn-danger">Delete</a></td>

			</tr>
	</table>

	<a href="/addmovie" class="btn btn-primary">Add</a>
</body>
</html>